[submodule "GasCore-Core"]
	path = GasCore-Core
	url = https://github.com/JiJogbf/GasCore-Core
[submodule "GasCore-UI"]
	path = GasCore-UI
	url = https://github.com/JiJogbf/GasCore-UI

[submodule "GasCore-Net"]
	path = GasCore-Net
	url = https://github.com/JiJogbf/GasCore-Net
